<% @flowers.each_slice(3) do |flower_row| %>
    <div class="row">
    <% flower_row.each do |flower| %>
        <div class="col-sm"><a href="/flower/<%= flower[:url] %>"> <%= flower[:common_name] %></a><br/> <%= flower[:latin_name] %></div>
    <% end %>
  </div>
<% end %>
